<div class="single-product-wrapper">
    <breadcrumbs-component [endLocation]="product?.name"></breadcrumbs-component>
    <div class="single-product-main-section display-inline-block">
        <div class="single-product-image display-inline-block">
            <img src="data:image/png;base64,{{product?.imageLink}}" alt="">
        </div>
        <div class="single-product-details  display-inline-block">
            <div class="single-product-title">
                <p>{{product?.name}}</p>
            </div>
            <div class="single-product-description">
                <p>{{product?.description}}</p>
            </div>
        </div>
    </div>
    <div class="buy-box-wrapper display-inline-block">
        <buy-box [product]="product" (addToCart)="addSingleProductToCart($event)"></buy-box>
    </div>
    <div class="product-specifications-wrapper">
        <div class="product-specifications">
            <div class="product-specification-header">
                <p>Specifications</p>
            </div>
            <dl class="product-specification-details"> 
                <dt>Name</dt>
                <dd>{{product?.name}}</dd>
                <dt>Company</dt>
                <dd>{{product?.company}}</dd>
                <dt>Platform</dt>
                <dd>{{product?.platform}}</dd>
                <dt>Rating</dt>
                <dd>{{product?.rating}}</dd>
            </dl>
        </div>
    </div>
</div>
