@import "../app.component.scss";

h1{
    color: white;
}

.price-wrapper{
    display:flex;
    justify-content: right;
    margin-right: 125px;

}

.price{
    color: white;
    font-weight: bold;
    margin-left: 200px;
}