@import "../../app.component.scss";

li:hover{
    cursor: pointer;
}

img{
    width: 60%;
    height: 60%;
}

.wrapper{
    height: 100%;
    display: flex;
}

.footer{
    min-height: 250px;
    height: 250px;
    background-color: $global-color;
}

.footer-image{
    height: 100%;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.links{
    width: 50%;
    align-items: center;
    justify-content: center;
    display: flex;
}

.links ul{
    display: flex;
    margin: 0 auto;
}

.links li {
    list-style: none;
    padding: 5px;
    color: white;
    font-weight: bold;
}

.rights{
    background-color: $global-color;
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 5px;
}