<div class="footer">
    <div class="wrapper">
        <div class="footer-image">
            <img src="../../../assets/rrrlogo.png">
        </div>
        <div class="links">
            <ul>
                <li>Jobs</li>
                <li>Company</li>
                <li>About</li>
                <li>Customer Support</li>
            </ul>
        </div>
    </div>
    <div class="rights">
        <span class="">© 2024 Triple R Games™. All Rights Reserved.
        </span>
    </div>
</div>
