<div class="order-wrapper">
    <div class="order-header">
        <p>Orders</p>
    </div>
    <br>
    <table class="order-table" *ngFor="let order of orders; let i = index">
        <tr class="order-row-first">
          <th>Index</th>
          <th>Products</th>
          <th>Price</th>
          <th>Total Price</th>
        </tr>
        <tr>
          <td class="index">{{i}}</td>
          <td class="order-products" *ngFor="let product of order.products">{{product.name}}
          <td> 
            <div class="order-price" *ngFor="let product of order.products">
              {{product.price}}
            </div>
          </td> 
          <td class="order-total-price">{{getTotalPrice(order.products)}}</td>
        </tr>
        <br>
      </table>
</div>

