$global-color: #21295C;
$background-color: #1B3B6F;
$box-color: #1b71c2;
$cta-color: #F5D547;
$cta-hover-color: #ECA22C;



.content{
    // height: 100vh;
    min-height: calc(100vh - 70px);
    background-color: $background-color;
    height: 100%;
}