@import "../../app.component.scss";

.promo-table{
    width: 80%;
    margin: 0 auto;
    background-color: red;
}

.promo-header{
    color: white;
    font-weight: bold;
    font-size: x-large;

}
