.product-filter-wrapper{
    display: inline-block;
    width: 20%;
    height: 100%;
    left: 0;
    background-color: orange;
}

.product-list-wrapper{
    display: inline-block;
    width: 60%;
    height: 100%;
    right: 0;
    vertical-align:top;
    background-color: yellow;
}