<nav class="nav">
    <div class="nav-logo" (click)="goToHomePage()">
        <img src="../../assets/rrrlogo.png" alt="">
    </div>
    <ul class="nav-items">
        <li class="nav-item" > 
            <a class="nav-item-link active" (click)="goToHomePage()">Home</a>
            <a class="nav-item-link" (click)="goToProductPage()">Products</a>
            <a class="nav-item-link" (click)="goToLoginPage()" *ngIf="!isLoggedIn">Login</a>
            <a class="nav-item-link" (click)="goToCustomerProfile()" *ngIf="isLoggedIn">Customer Portal</a>
            <a class="nav-item-link" (click)="goToAdmin()" *ngIf="isLoggedIn && isAdmin">Admin Portal</a>
            <a class="nav-item-link" (click)="logout()" *ngIf="isLoggedIn">Logout</a>
        </li>
    </ul>
    <div class="cart-button" (click)="navigateToCheckout()">
        <div class="cart-amount" >
            <p (click)="navigateToCheckout()">{{amountInCart}}</p>
        </div>
    </div>
</nav>