.product-item{
    position: relative;
    margin: 25px 10px 0 10px;
    width: 220px;
    height: 410px;
    background-color: green;
    transition: transform .2s;
}

.product-item:hover{
    transform: scale(1.05);
    cursor: pointer;
}