.product-item{
    position: relative;
    margin: 0 10px 20px 10px;
    width: 220px;
    height: 410px;
    background-color: green;
    transition: transform 0.75s;
}

.product-item:hover{
    transform: scale(1.05);
    cursor: pointer;
}