@import "../../../app.component.scss";

.product-thumbnail{
    height: 60%;
    width: 100%;
    background-color: $global-color;
    position: absolute;

}

.product-thumbnail img{
    height: 100%;
    width: 100%;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1, 1);

}
